@import "./mixins";
@import "./variables";

.main {
  // .main__photos

  &__photos {
    width: 40%;
  }
}
.photos {
  // .photos__photo

  &__photo {
    margin: $regularMargin;
    position: relative;
    img {
      width: 100%;
      border-radius: 5%;
    }
  }

  // .photos__catalog

  &__catalog {
    width: 100%;
  }

  // .photos__list

  &__list {
    display: flex;
  }

  // .photos__item

  &__item {
    margin: calc($regularMargin - $thick);
    @include makeChoose(white, 14%);
    img {
      width: 100%;
      border-radius: 11%;
      &:active {
        opacity: 0.5;
      }
    }
  }

  &__item._active {
    @include makeChoose($primaryOrangeColor, 14%);
    img {
      opacity: 0.5;
    }
  }
}

.photo {
  // .photo__left-arrow

  &__left-arrow._all-center {
    display: none;
    left: 0;
    @include makeArrow($tripleRegularMargin);
    img {
      width: $regularMargin;
      height: $regularMargin;
    }

    &:active {
      img {
        filter: invert(48%) sepia(87%) saturate(685%) hue-rotate(346deg)
          brightness(101%) contrast(101%);
      }
    }
  }

  // .photo__right-arrow

  &__right-arrow._all-center {
    display: none;
    right: 0;
    @include makeArrow($tripleRegularMargin);
    img {
      width: $regularMargin;
      height: $regularMargin;
    }

    &:active {
      img {
        filter: invert(48%) sepia(87%) saturate(685%) hue-rotate(346deg)
          brightness(101%) contrast(101%);
      }
    }
  }
}

@media screen and (max-width: $mobileSize) {
  .main {
    &__photos {
      display: block;
      width: 100%;
    }
  }
  .photos {
    // .photos__photo

    &__photo {
      margin: 0;
      img {
        width: 100%;
        border-radius: 0;
        object-fit: cover;
        height: 60em;
      }
    }

    // .photos__catalog

    &__catalog {
      display: none;
    }
  }

  .photo {
    // .photo__left-arrow

    &__left-arrow._all-center {
      display: flex;
    }

    // .photo__right-arrow

    &__right-arrow._all-center {
      display: flex;
    }
  }
}
