$primaryOrangeColor: hsl(26, 100%, 55%);
$paleOrangeColor: hsl(25, 100%, 94%);

$darkBlueColor: hsl(220, 13%, 13%);
$darkGrayishBlueColor: hsl(219, 9%, 45%);
$grayishBlueColor: hsl(220, 14%, 75%);
$lightGrayishBlueColor: hsl(223, 64%, 98%);

$mobileSize: 560px;
$regularMargin: 1em;
$grandMargin: 5em;

$regularWithHalfMargin: 1.5em;
$doubleRegularMargin: 2em;
$doubleWithHalfRegularMargin: 2.5em;
$tripleRegularMargin: 3em;
$tripleWithHalfRegularMargin: 2.5em;
$quadraRegularMargin: 4em;
$quadraWithHalfRegularMargin: 4.5em;

$halfRegularMargin: 0.5em;

$quarterRegularMargin: 0.25em;
$quarterLessRegularMargin: 0.75em;

$eighthRegularMargin: 0.125em;

$thick: 0.125em;
